services:
  app-prod:
    build:
      context: .
      dockerfile: Dockerfile.prod
      args:
        NODE_VERSION: ${NODE_VERSION}
    image: mii-tfm/web
    ports:
      - "8080:80"

  app-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
      args:
        NODE_VERSION: ${NODE_VERSION}
    image: mii-tfm/web-dev
    ports:
      - "4200:4200"
    develop:
      watch:
        - action: sync
          path: .
          target: /app