.home {
    padding: 2rem;
    text-align: center;

    h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    button {
        margin-top: 1.5rem;
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        border: none;
        cursor: pointer;
        background: #1976d2;
        color: white;
        &:hover {
            background: #125ca2;
        }
    }

    .btn {
        display: inline-block;
        padding: 0.75rem 1.5rem;
        border-radius: 0.5rem;
        background: #1976d2;
        color: white;
        text-decoration: none;
        font-size: 1rem;

        &:hover {
            background: #125ca2;
        }
    }
}